button {
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  color: #000;                                            /*át kell írni*/
  background-color: #c7c7c7;                              /*át kell írni*/
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(200, 200, 200, 0.1);      /*át kell írni*/
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none
}


button:hover {
  background-color: #fff;                         /*át kell írni*/
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.7);   /*át kell írni*/
  color: #fff;                                    /*át kell írni*/
}


button[disabled=disabled], button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}


.inner {
  background: #c7c7c7;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  clip-path: circle(10% at 90% 24%);
  transition: all .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 3%;
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
}


.inner:hover {
  clip-path: circle(75%);
}


.inner:hover a{
  opacity: 1;
}


.inner a{
  color: #fff;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 13px 5px;
  text-decoration: none;
  opacity: 0;
  transition: .5s;
}


.inner a:hover{
  background: #fff;
  border-radius: 10px;
}


.icon {
  font-family: 'Nunito', 'sans-serif';
  font-size: 20px;
  position: absolute;
  top: -8%;
  right: 9%;
  opacity: 1;
  transition: .5s;
}


.inner:hover .icon {
  opacity: 0;
}


.backspace {
    width: 200px;
}


p {
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #000;
}


h1 {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #000;
  margin:0;
  font-weight:normal;
}


div {
  text-align: center;
  padding: 35px 0px;
}


body {
  background-image:url("#");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
  margin: 0;
  align-items:center;
}


.foreground {
  background-image:url("#");
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.langbut button {
  position: absolute;
  background-image: url("us.svg");
  background-position: center;
  background-size: cover;
  top: 0%;
  left: 0%;
  height: 6vh;
  width: 6vh;
  clip-path: circle(40%);
  transition: .3s;
}

.langbut button:hover {
  clip-path: circle(45%);
}
