button {
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  background-color: #008018;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none
}


button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
}


button[disabled=disabled], button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}


.inner {
  background: #008018;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  clip-path: circle(10% at 90% 24%);
  transition: all .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 3%;
  z-index: 1;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px;
}


.inner:hover {
  clip-path: circle(75%);
}


.inner:hover a {
  opacity: 1;
}


.inner a {
  color: #fff;
  font-size: 15px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 13px 5px;
  text-decoration: none;
  opacity: 0;
  transition: .5s;
}


.inner a:hover {
  background: #2EE59D;
  border-radius: 10px;
}


.icon {
  font-family: 'Nunito', 'sans-serif';
  font-size: 20px;
  position: absolute;
  top: -8%;
  right: 9%;
  opacity: 1;
  transition: .5s;
}


.inner:hover .icon {
  opacity: 0;
}


.backspace {
    width: 200px;
}


p {
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff;
}


h1 {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff;
  margin:0;
  font-weight:normal;
}


div {
  text-align: center;
  padding: 35px 0px;
}


body {
  background-image:url("background_chr.png");
  background-repeat: no-repeat;
  height: 100vh;
  weight: 100vh;
  margin: 0;
  align-items:center;
}


.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}


@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}


.snowflake {
  position:fixed;
  top:-10%;
  z-index:-1;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
}


.snowflake:nth-of-type(0) {
  left:1%;
  -webkit-animation-delay:0s,0s;
  animation-delay:0s,0s
}


.snowflake:nth-of-type(1) {
  left:10%;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
}


.snowflake:nth-of-type(2) {
  left:20%;
  -webkit-animation-delay:6s,.5s;
  animation-delay:6s,.5s
}


.snowflake:nth-of-type(3) {
  left:30%;
  -webkit-animation-delay:4s,2s;
  animation-delay:4s,2s
}


.snowflake:nth-of-type(4) {
  left:40%;
  -webkit-animation-delay:2s,2s;
  animation-delay:2s,2s
}


.snowflake:nth-of-type(5) {
  left:50%;
  -webkit-animation-delay:8s,3s;
  animation-delay:8s,3s
}


.snowflake:nth-of-type(6) {
  left:60%;
  -webkit-animation-delay:6s,2s;
  animation-delay:6s,2s
}


.snowflake:nth-of-type(7) {
  left:70%;
  -webkit-animation-delay:2.5s,1s;
  animation-delay:2.5s,1s
}


.snowflake:nth-of-type(8) {
  left:80%;
  -webkit-animation-delay:1s,0s;
  animation-delay:1s,0s
}


.snowflake:nth-of-type(9) {
  left:90%;
  -webkit-animation-delay:3s,1.5s;
  animation-delay:3s,1.5s
}


.snowflake:nth-of-type(10)  {
  left:25%;
  -webkit-animation-delay:2s,0s;
  animation-delay:2s,0s
}


.snowflake:nth-of-type(11)  {
  left:65%;
  -webkit-animation-delay:4s,2.5s;
  animation-delay:4s,2.5s
}


.foreground {
  background-image:url("foreground_chr.png");
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.langbut button {
  position: absolute;
  background-image: url("us.svg");
  background-position: center;
  background-size: cover;
  top: 0%;
  left: 0%;
  height: 6vh;
  width: 6vh;
  clip-path: circle(40%);
  transition: .3s;
}

.langbut button:hover {
  clip-path: circle(45%);
}
